:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

.html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main);
  background: var(--white);
  font-family: var(--font-Inter);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border: 1px solid;
}

.button--primary {
  border-color: var(--button);
  background-color: var(--button);
  color: var(--white);
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
  outline: none;
}

.button--secondary {
  border-color: var(--gray-light);
  background: transparent;
  color: var(--main);
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:active {
  border-color: var(--button-hover);
  outline: none;
}

.button--secondary:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
