.hero {
  background-image: url('/image/Picture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 260px 0;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;
  margin-bottom: 40px;
}
